<div class="row">
    <div class="col-xs-12">
        <div class="blue-cover">
            <img src="/public/images/clip-01.jpg" alt="codeFront.io" />
        </div>
    </div>
</div>

<div class="row">
    <div class="col-sm-6">
        <p class="lead">
            A ground-shaking festival for Front-end Developers, UI/UX Designers and Web ninjas!
        </p>
        <p>Great opportunity to meet <strong>masters of Web World</strong> and meet them! Come and rock with us on <strong>May 10</strong>, 2014 in Linz / Austria!</p>
    </div>
    <div class="col-sm-6">
        <p class="lead lead-webbox">What to Expect?</p>
        <ul class="list-unstyled list-custom fa-ul">
            <li><i class="fa-li fa fa-square-o"></i>Are you ready to meet <a href="http://atom.io">Atom Editor</a>?</li>
            <li><i class="fa-li fa fa-square-o"></i>Responsive Web Design and User Experience secrets?</li>
            <li><i class="fa-li fa fa-square-o"></i>Latest web technologies like HTML5 &amp; CSS3</li>
            <li><i class="fa-li fa fa-square-o"></i>Typography techniques and tips!</li>
            <li><i class="fa-li fa fa-square-o"></i>Popular JavaScript libraries &amp; frameworks!</li>
        </ul>
    </div>
</div>
