<div class="row">
    <div class="col-xs-12">
        <div class="blue-cover">
            <img src="/public/images/clip-01.jpg" alt="codeFront.io" />
        </div>
    </div>
</div>

<div class="row">
    <div class="col-sm-6">
        <p class="lead">
            A ground-shaking festival for Front-end Developers, UI/UX Designers and Web ninjas!
        </p>
        <p>
            A great opportunity to meet <strong>the masters</strong> of Web.
            Come and rock with us on <strong>May 10</strong>, 2014 in Linz / Austria!
        </p>
        
        <div id="mailchimp">
            <h2>E-Mail List</h2>
            <form action="http://webbox.us7.list-manage.com/subscribe/post?u=47a063541023459f2f550d790&amp;id=9959b2bb0f" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" target="_blank" novalidate>
                <input type="email" value="" name="EMAIL" id="mce-EMAIL" placeholder="Enter your e-mail here! Get updates and discounts first!">
                <button type="submit" class="btn btn-primary">Subscribe</button>
                <div style="position: absolute; left: -5000px;"><input type="text" name="b_47a063541023459f2f550d790_9959b2bb0f" value=""></div>
            </form>
        </div>
        
    </div>
    <div class="col-sm-6 col-right">
        <p class="lead lead-webbox">What to Expect?</p>
        <ul class="list-unstyled list-custom fa-ul">
            <li><i class="fa-li fa fa-square-o"></i>Are you ready to meet <a href="http://atom.io">Atom Editor</a>?</li>
            <li><i class="fa-li fa fa-square-o"></i>Responsive Web Design and User Experience secrets?</li>
            <li><i class="fa-li fa fa-square-o"></i>Latest web technologies like HTML5 &amp; CSS3</li>
            <li><i class="fa-li fa fa-square-o"></i>Typography techniques and tips!</li>
            <li><i class="fa-li fa fa-square-o"></i>Popular JavaScript libraries &amp; frameworks!</li>
        </ul>
    </div>
</div>
