<div class="row">
    <div class="col-xs-12">
        <p class="lead">To be announced later...</p>
        <p>Meanwhile, you can check <a href="http://lanyrd.com/2014/codefront-io/">Lanyrd</a> for a list of confirmed speakers.</p>
    </div>
</div>
