<nav class="navbar navbar-default navbar-fixed-top navbar-codefront-io" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
        </div>
        <div class="collapse navbar-collapse" id="navbar">
            <ul class="nav navbar-nav">
                <li class="active"><a target="_self" href="#home">Home</a></li>
                <li><a target="_self" href="#speakers">Speakers</a></li>
                <li><a target="_self" href="#about">About</a></li>
                <li><a target="_self" href="#calendar">Calendar</a></li>
                <li><a target="_self" href="#tickets">Tickets</a></li>
                <li><a target="_self" href="#venue">Venue</a></li>
                <li><a target="_self" href="#sponsors">Sponsors</a></li>
                <li><a target="_self" href="#team">Team</a></li>
                <li><a href="http://twitter.com/codefrontio"><i class="fa fa-twitter"></i></a></li>
                <li>
                    <a href="https://www.facebook.com/codefrontio">
                        <i class="fa fa-facebook"></i>
                    </a>
                </li>
                <li><a target="_self" href="mailto:hello@webbox.io?subject=codefront.io"><i class="fa fa-envelope"></i></a></li>
            </ul>
        </div>
    </div>
</nav>
