<div class="row">
  <div class="col-md-12">
      <img width="150" src="/public/images/jku.png" alt="Johannes Kepler University">
      <h1>Johannes Kepler Universität Linz</h1>
      <address>
        Altenberger Straße 69, A-4040 Linz, Austria
      </address>
      <a class="btn btn-default" href="http://goo.gl/maps/hUhyt">Show on Map</a>
  </div>
</div>
