<div class="row">
  <div class="col-sm-4 col-md-4">
      <img src="/public/images/jku.png" alt="Johannes Kepler University">
  </div>
  <div class="col-sm-8 col-md-8">
      <h2>Johannes Kepler Universität Linz</h2>
      <address>
        Altenberger Straße 69,<br/>
        A-4040 Linz, Austria
      </address>
      <a class="btn btn-default" href="http://goo.gl/maps/hUhyt">Show on the Map</a>
      
      <p class="lead">
        <strong>3</strong> Tracks, <strong>24+</strong> Speakers, <strong>850</strong> people capacity.
      </p>
      <p class="lead">
        Special <strong>workshops</strong> and more <strong>surprises</strong>!
      </p>
  </div>
</div>
