@media (min-width: 768px) and (max-width: 1024px) {
  .block {
    padding: 25px 0;
  }
  
  .speaker{
    min-height: 780px;
//    background-color: red;
    .bio {
      max-height: initial;
      overflow: visible;
    }
  }

  .lead {
    font-size: 1.3em;
  }

  #sponsors {
    h2 {
      font-size: 1.3em;
    }
  }

  .row-sponsor {
    margin-bottom: 20px;
  }
  
  #team {
    .avatar {
      padding-top: 200px;
    }
  }
  
  .navbar-codefront-io {
//    font-size: 0.75em;
    li > a {
      padding: 15px 10px;
    }
  }

  footer {
    padding: 30px 0 0 0;
  }
}


@media (max-width: 580px){
  .block {
    padding: 30px 0;
  }
  .speaker {
    min-height: initial;
    .bio {
      max-height: initial;
      overflow: visible;
    }
  }
  
  .col-right {
    margin-top: 20px;
  }
  
  .row-sponsor {
    margin-bottom: 20px;
  }
  
  .lead {
    font-size: 1.3em;
  }
  
  #team {
    .avatar {
      padding-top: 250px;
    }
  }
}


@media (max-width: 320px){
  .block {
    padding: 20px 0;
  }
  
  .col-right {
    margin-top: 20px;
  }
  
  .speaker {
    min-height: initial;
    .bio {
      max-height: initial;
      overflow: visible;
    }
  }
  .lead {
    font-size: 1.2em;
  }
  
  #venue {
    img {
      width: 50%;
      margin-bottom: 20px;
    }
  }
  
  .row-sponsor {
    margin-bottom: 20px;
  }
  
  #mailchimp {
    input { font-size: 0.55em; }
  }
  
  h1 { font-size: 1.6em; }
  h2 { font-size: 1.3em; }
  
  #team {
    .avatar {
      padding-top: 100px;
    }
  }
  
  #code-of-conduct {
    .lead { font-size: 1em; }
    p {
      font-size: 0.8em;
      line-height: 1.4em;
    }
  }
  
  footer {
    padding: 30px 0 0 0;
  }
}


