$webbox-color: #234D98;

$h1-color: #127FCA;

$speaker-name: darken($h1-color, 10);
$speaker-company: lighten($speaker-name, 20);

$bg-about: #eee;
$bg-calendar: white;
$bg-tickets: #eee;
$bg-sponsors: white;
$bg-code-of-conduct: lighten($webbox-color, 60);
$early-bird-color: #e46f6f;
