$webbox-color: #234D98;

$h1-color: #127FCA;

$speaker-name: darken($h1-color, 10);
$speaker-company: lighten($speaker-name, 20);

$bg-default: white;

$bg-about: #eef;
$bg-calendar: white;
$bg-tickets: #eee;
$bg-sponsors: white;
$bg-venue: transparent;
$bg-code-of-conduct: lighten($webbox-color, 60);


$ticket-exclusive: darken(red, 10);
$ticket-standard: darken(green, 5);

//$ticket-early-bird: #e46f6f;
$ticket-early-bird: $webbox-color;
$ticket-student: #aa00aa;
