<div class="block text-center" id="logo-area">
    <img src="/public/images/sign.png" alt="codeFront.io" />
</div>


<div class="block text-center">
    <div class="container">
        <div class="row">
            <div class="col-sm-6 col-sm-offset-3">
                <h1>codeFront.io<br/><small>Front-end Development Conference</small></h1>
                <h2>May 10, 2014</h2>
                <h3>Johannes Kepler University, Linz</h3>
                <br/><br/>
                <p class="lead">Stay tuned for real-site ! Meanwhile you can follow <a href="http://twitter.com/codefrontio">@codefrontio</a> for more updates!</p>
            </div>
        </div>
    </div>
</div>


<div id="footer" class="block">
    <a href="http://webbox.io"><img src="/public/images/webbox.png" alt="webBox.io" /></a><br/>
    <span><a href="http://webbox.io">http://webbox.io</a></span>
    <span><a href="http://twitter.com/webboxio">@webboxio</a></span>
</div>
